## Exercise No.2

**1-. Write a program to check whether a person is eligibl (age over 18 year)e for voting or not. (accept age from user**)

In [63]:
age = int(input("Enter your age: "))
if age>=18:
    
   print("You are eligible to vote! ")
else:
   print(f"You are not eligible to vote. ")

Enter your age:  1

You are not eligible to vote.

**2-Use range() to print all the even numbers from 0 to 10.**

In [66]:
for  i in range(0 , 11 , 2):
   print(i)

0
2
4
6
8
10

**4-Use for, .split(), and if to create a Statement that will print out words that start with 's':**

In [10]:
st = 'Print only the words that start with s in this sentence'

In [67]:
st ='print only the words that start with s in this sentence'
for word in st.split():
    if word[0].lower() == 's':
        print(word)

start
s
sentence

**5-Write a Python program that accepts a word from the user and reverses it**.

example:
input : Input a word to reverse:  hello world
output: dlrow olleh

In [69]:
word = input("Iput a word to reverse:")
reversed_word = word[::-1]
print("Output:", reversed_word)

Iput a word to reverse: reversed_word

Output: drow_desrever

**6-Write a Python program to count the number of even and odd numbers in a series of numbers** ers : 4


Sample numbers : numbers = (1, 2, 3,4, 5, 6, 7, 8, ) 

Expected Output :

Number of even numbers : 5
Number of odd numbers : 4

In [70]:
numbers ={1,2,3,4,5,6,7,8,9}
even_count = 0
odd_count = 0
for num in numbers:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 2
        
        print("Number of even numbers:", even_count)
        print("Number of odd numbers:", odd_count)

Number of even numbers: 0
Number of odd numbers: 2
Number of even numbers: 1
Number of odd numbers: 4
Number of even numbers: 2
Number of odd numbers: 6
Number of even numbers: 3
Number of odd numbers: 8
Number of even numbers: 4
Number of odd numbers: 10

**7-Write a Python program that iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for multiples of five print "Buzz". For numbers that are multiples of three and five, print "FizzBuzz".**

Sample Output :

fizzbuzz
1
2
fizz
4
buzz

In [75]:
for i in range (1 , 51):
  if i % 3 == 0 and i % 5 == 0 :
     print("fizzBuzz")
  elif i % 3 == 0 :
    print("Fizz")
  elif i % 5 == 0 :
   print("Buzz")
else:
   print(i)

Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
fizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
fizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
fizzBuzz
Fizz
Buzz
50

**8. Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria :**

             Unit                                                     Price  
First 100 units                                               no charge
Next 100 units                                              Rs 5 per unit
After 200 units                                             Rs 10 per unit
(For example if input unit is 350 than total bill amount is Rs2000)

In [118]:
units = int(input("Enter number of nuits: "))
bill = 0
if units <= 100:
  bill = 0
elif units <= 200:
  bill = (units - 100) * 5
else:
  bill = (100 * 5) + ((units - 200) * 10)
  print(f"Total bill amount is Rs:",{bill})

Enter number of nuits:  5

**9-Handle the exception thrown by the code below by using try and except blocks.**

In [241]:
for i in ['a' , 'b' , 'c']:
   try:
       print(i ** 2)
   except TypeError as e:   
       print(f"Error:{e}")

Error:unsupported operand type(s) for ** or pow(): 'str' and 'int'
Error:unsupported operand type(s) for ** or pow(): 'str' and 'int'
Error:unsupported operand type(s) for ** or pow(): 'str' and 'int'

**10-create your module "MyTemp" which contain two function :**

1.fahrenheit_to_celsius : its equation (Temperature in degrees Fahrenheit (°F) = (Temperature in degrees Celsius (°C) * 9/5) + 32)

2.celsius_to_fahrenheit: its equation (Temperature in degrees Celsius (°C) = (Temperature in degrees Fahrenheit (°F) - 32) * 5/9)

In [258]:
def fahrenheit_to_celsius(f):
     return (f - 32) * 5/9
def celsius_to_fahrenheit(c):
     return (c * 9 / 5) + 32

In [271]:
c = fahrenheit_to_celsius(100)
print("100°F =", round(c, 2), "°c")

f = celsius_to_fahrenheit(37.5)
print("37.5°c =", round(f, 2), "°f")

100°F = 37.78 °c
37.5°c = 99.5 °f